SECRET_KEY="replace-with-a-strong-secret"
DEBUG="False"
ALLOWED_HOSTS=".ondigitalocean.app,127.0.0.1,localhost"

SECRET_KEY_FOR_STAFF_USER=""
SECRET_KEY_FOR_ADMIN_USER=""
JWT_SECRET=""
DO_SPACES_KEY=""
DO_SPACES_SECRET=""

DO_SPACES_BUCKET=""
DO_SPACES_REGION=""

DO_SPACES_ENDPOINT=""
DO_SPACES_BASE_URL=""



MONGO_DB_URI=""
MONGO_DB_NAME=""

CORS_ALLOW_ALL_ORIGINS="False"
CORS_ALLOW_CREDENTIALS="True"
CORS_ALLOWED_ORIGINS="https://your-frontend-domain.com"
