SECRET_KEY_FOR_ADMIN_USER=""
SECRET_KEY_FOR_ADMIN_USER=""
DO_SPACES_KEY=""
DO_SPACES_SECRET=""

DO_SPACES_BUCKET=""
DO_SPACES_REGION=""

DO_SPACES_ENDPOINT=""
DO_SPACES_BASE_URL=""



MONGO_DB_URI=""
MONGO_DB_NAME=""
